DATABASE_URL="postgresql://neondb_owner:npg_cYQ6jnTSwFx4@ep-snowy-truth-a2m5emxt-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_cYQ6jnTSwFx4@ep-snowy-truth-a2m5emxt.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"